[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/yiyolcorp/gohugo-theme-ananke.git
[submodule "public"]
	path = public
	url = https://github.com/yiyolcorp/yiyolcorp.github.io.git
	branch = gh-pages
