<footer class="{{ .Site.Params.background_color_class | default "bg-black" }} bottom-0 w-100 pa3" role="contentinfo">
  <div style="width: 800px; margin: 0 auto;">
    <br/>
    <div class="white" style="font-size: 16px; font-weight: bold;">
      <a href="/ko/about/privacy/" style="color: white; text-decoration: none;">개인정보처리방침</a>
    </div>
    <br/>
    <div class="white-70" style="font-size: 14px">
      <span style="font-weight: bold;">주소</span>
      <span>서울특별시 금천구 가산디지털2로 136, 704-4</span> &nbsp; &nbsp;
      <span style="font-weight: bold;">Email</span>
      <span>yiyolcorp@gmail.com</span> &nbsp; &nbsp;
    </div>
    <div class="white-70" style="font-size: 14px">
      <span style="font-weight: bold;">사업자등록번호</span>
      <span>186-34-01502</span> &nbsp; &nbsp;
      <span style="font-weight: bold;">통신판매등록번호</span>
      <span>제2024-서울금천-1806호</span>
    </div>
    <br/>
    <div class="white-70" style="font-size: 14px">
      Copyrights © <span style="font-weight: bold;">YIYOL</span>. All rights reserved.
    </div>
    <br/>
  </div>
</footer>
