<footer class="{{ .Site.Params.background_color_class | default "bg-black" }} bottom-0 w-100 pa3" role="contentinfo">
  <div style="width: 800px; margin: 0 auto;">
    <br/>
    <div class="white" style="font-size: 16px; font-weight: bold;">
      <a href="/en/about/privacy/" style="color: white; text-decoration: none;">Privacy Policy</a>
    </div>
    <br/>
    <div class="white-70" style="font-size: 14px">
      <span style="font-weight: bold;">Address</span>
      <span>#704-4, 136 Gasan Digital 2ro, Geumcheon-gu, Seoul</span> &nbsp; &nbsp;
      <span style="font-weight: bold;">Email</span>
      <span>yiyolcorp@gmail.com</span> &nbsp; &nbsp;
    </div>
    <div class="white-70" style="font-size: 14px">
      <span style="font-weight: bold;">Business registration</span>
      <span>186-34-01502</span> &nbsp; &nbsp;
      <span style="font-weight: bold;">Mail-order-sales registration</span>
      <span>제2024-서울금천-1806호</span>
    </div>
    <br/>
    <div class="white-70" style="font-size: 14px">
      Copyrights © <span style="font-weight: bold;">YIYOL</span>. All rights reserved.
    </div>
    <br/>
  </div>
</footer>
